alabaster==0.7.12
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.0
astropy==3.2.1
bs4==0.0.1
docutils==0.14
entrypoints==0.3
isort==4.3.21
jupyter-console==6.0.0
llvmlite==0.29.0
lxml==4.5.0
matplotlib==3.1.0
mccabe==0.6.1
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
nbconvert==5.5.0
nltk==3.4.5
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numpy==1.18.3
numpydoc==0.9.1
olefile==0.46
openpyxl==2.6.2
pandas==0.24.2
parso==0.5.0
partd==1.0.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prompt-toolkit==2.0.9
protobuf==3.9.2
py==1.8.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.7.0
pytest==5.0.1
pytest-doctestplus==0.3.0
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.0
QtAwesome==0.5.7
QtPy==1.8.0
requests==2.22.0
rope==0.14.0
ruamel.yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
seaborn==0.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
soupsieve==1.8
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tflearn==0.3.2
wcwidth==0.1.7
